<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <section id="pageContent" class="text">
            <main>
                <h1>Mentions légales</h1>
                <h2>Editeurs</h2>
                    <p>Entreprise Live Events 
                        Paris 1er 3 rue de Rivoli
                        France T. + 33 (0)1 26 30 43 54 – F+ 33 (0)1 26 30 42 55
                        info (@) liveevents.fr
                        Licences d’entrepreneur de spectacles n° 2-1013672/3-1013672 Code APE 9001Y Siret 488 296 609 00033
                        </p>
                <h2>Formalités de déclaration</h2>
                    <p>Le présent site Internet et notamment le traitement automatisé de l’information ont fait l’objet d’une déclaration formelle auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL).
                    Pour plus d’informations, merci de prendre contact avec Live Events : 00 33 – (0)1 26 30 43 54, info (@) liveevents.fr.</p>
                <h2>Informations nominatives</h2>
                    <p>Les informations que nous recueillons sont destinées à mieux vous connaître, ne seront en aucun cas transmises à des tiers. Conformément à la loi  » Informatique et Libertés « , vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent. Pour l’exercer, il vous suffit d’envoyer un e-mail info (@) liveevents.fr
                        Confidentialité des courriers électroniques Concernant tout courrier électronique adressé à Live Events à travers ce site, merci de prendre note du fait que :
                        <ul>
                            <li>le secret des correspondances transmises par le réseau Internet n’est pas garanti <li>
                            <li>les courriers électroniques sont conservés sur support informatique, au moins le temps nécessaire à l’administration pour fournir une réponse ou de traiter votre demande.</li>
                        </ul>
                        </p>
                <h2>Développement du site</h2>
                        <p>Antoine Mourat, Enzo Bodin-Germain, Antoine Seguin et Fanch Le Dantec</p>
                <h2>Droits d'auteur</h2>
                        <p> Ce site est propriété de Live Events – la réservation du nom de domaine www.nationsound.fr, a été effectué conformément aux dispositions de l’AFNIC.
                            L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et la propriété industrielle. Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur un support quel qu’il soit, est formellement interdite sauf autorisation expresse de Territoire de musiques.
                            La reproduction des textes sur un support papier est autorisée sous réserve du respect des trois conditions suivantes :
                            <ul>
                                <li>gratuité de la diffusion ;</li>
                                <li>respect de l’intégrité des documents reproduits (pas de modification ni altération) ;</li>
                                <li>la citation claire et lisible de la source sous la forme suivante: « Document issu du site Internet www.liveevents.fr. Les droits de reproduction sont réservés et strictement limités.</li>
                            </ul>
                            </p>
               
            </main>
        </section><!--Ici se termine le #contentPage (le contenu principal)-->
    </body>
</html>